table.table.hs-table.table-condensed.table-responsive.users-table.widget(style='font-size: 12px;')
    thead
        tr
            th.t-center ID
            th.t-center Name
            th.t-center Description
            th.t-center Tag
            th.t-center Allow Nested
            th.t-center Regex
            th.t-center Replacement
            th.t-center Example
            th.t-center Edit
    tbody
        for code in bbcodes
            tr(data-id=code.getId())
                td.b-right= code.getId()
                td.b-right= code.getName()
                td.b-right= code.getDescription()
                td.b-right= code.getTag()
                td.b-right= code.isAllowNested()
                td.b-right= code.getRegex()
                td.b-right= code.getReplacement()
                td.b-right= code.getExample()
                td.vis-link.edit-code
                    i.fa.fa-edit
