script.
	$(document).ready(function() {

		var n = null;

		var days = 1;

		var ar = [ 1, 2, 7, 0 ];

		$(document).click(function(e) {
			var target = e.target;
			if(n == null)
				return;
			var id = n.options.id;
			if($(e.target).closest('#'+id).length) {

			} else {
				n.close();
			}
		});

		$('.com-btn').click(function() {

		});

		$(document).on('click', '.extend-radio', function() {
			var id = $(this).data('id');
			days = ar[id];
			$('.extend-radio').prop('checked', false);
			$(this).prop('checked', true);
		});

		$('#extend').click(function() {
			$.post('/staff', { mod:'punish', action:'view-extend' }, function(ret) {
				var data = JSON.parse(ret);
				if(data.success === null) {
					sendAlert('Session expired! Refresh the page to login again.');
					return;
				}
				if(!data.success) {
					sendAlert(data.error);
					return;
				}
				n = noty({
					text: 'How long would you like to extend this punishment?',
					type: 'confirm',
					layout: 'center',
					dismissQueue: false,
					template: data.html,
					theme: 'cryogen',
					buttons: [{
						addClass: 'btn btn-primary btn-green', text: 'Accept', onClick: function($noty) {
							$noty.close();
							var id = $('#pid').val();
							console.log(days);
							$.post('/staff', { mod:'punish', action:'extend', id:id, expiry:days }, function(ret) {
								var data = JSON.parse(ret);
								if(data.success == null) {
									sendAlert('Session expired! Refresh the page to login again.');
									return;
								}
								if(!data.success) {
									sendAlert(data.error);
									return;
								}
								$('#punish-main').html(data.html);
								sendAlert('Punishment has been extended.');
							});
						}
					},
					{
						addClass: 'btn btn-danger', text: 'Cancel', onClick: function($noty) {
							$noty.close();
						}
					}]
				})
			});
		});

		function sendAlert(text) {
			var n = noty({
				text: text,
				layout: 'topRight',
				timeout: 5000,
				theme: 'cryogen'
			});
		}

	});
input#pid(type='hidden', value=punish.getId())
div#view-punish(style='clear: both; float: right;')
	div(style='max-width: 200px; font-size: 12px;')
		p.color-grey.t-center Viewing punishment for 
			span#punish-auth= '$for-name='+punish.getUsername()+'$end'
		p.t-center.color-grey= 'Punished on: '+formatter.formatTimestamp(punish.getDate(), 'MMM dd, YYYY hh:mm a')+'.'
		p.t-center.color-grey &larr; #[a.returnp-but(href='#', title='Go Back') Go back]
div(style="margin: auto; max-width: 400px; padding: 5px;")
	div.row(style='clear: both;')
		h4.color-white.t-center Punishment Type
			h6.color-grey.t-center= punish.getType() == 0 ? 'Mute' : 'Ban'
		h4.color-white.t-center Punisher
			h6.color-grey.t-center= '$for-name='+punish.getPunisher()+'$end'
		h4.color-white.t-center Expires
			h6.color-grey.t-center= punish.getExpiry() == null ? 'Never' : formatter.formatTimestamp(punish.getExpiry(), 'MMM dd, YYYY hh:mm a')
			if(punish.getExpiry() != null)
				h6.t-center.link.vis-link#extend Click to Extend
		h4.color-white.t-center Reason for Punishment
			h6.color-grey.t-center= punish.getReason()
		h4.color-white.t-center Appeal
			if punish.getAppeal() == null
				h6.color-grey.t-center No appeal made
			else
				h6(class='t-center '+punish.getAppeal().getColour())= punish.getAppeal().getStatus()
				h6.color-white.t-center.link.appealable#appeal-link Click to view
		h4.color-white.t-center Comments
			p.t-center.color-grey.fs-10 Comments on this page can only be seen by staff and should be used to inform other staff about additional information about this report. Such as a suggested time to be exonerated.
		div#comments
			include ../../utils/comments
		textarea.form-control.appeal-comment.text-input(rows='4', cols='50', placeholder='Enter comment')
		a.btn.btn-default.btn-comment#com-btn(style='margin: 15px auto;') Comment
