script.
  $(document).ready(function() {
  
    var n = null;
    
    $(document).click(function(e) {
      var target = e.target;
      if(n == null)
        return;
      var id = n.options.id;
      if($(e.target).closest('#'+id).length) {
      
      } else {
        n.close();
      }
    });
  
    $('#com-btn').click(function() {
      var input = $('.report-comment').val();
      var id = $('#rid').val();
      if(input == '' || input.replace(/ /g, '') == '') {
        sendAlert('You must enter a comment first.');
        return;
      }
      $.post('/staff', { mod:'breport', action:'submit-com', id:id, comment:input }, function(ret) {
        if(ret.includes('Login to')) {
          sendAlert('Session expired! Refresh the page to login again.');
          return;
        }
        var data = JSON.parse(ret);
        if(!data.success) {
          sendAlert(data.error);
          return;
        }
        $('#comments').html(data.comments);
        $('.report-comment').val('');
        sendAlert('Comment successfully submitted!');
      });
    });
    
    $('#archiveb-btn').click(function() {
      var rid = $('#rid').val();
      n = noty({
        text: 'Are you sure you wish to archive this report?',
        type: 'confirm',
        layout: 'center',
        dismissQueue: false,
        theme: 'cryogen',
        buttons: [{
          addClass: 'btn btn-primary', text: 'Archive', onClick: function($noty) {
            $.post("/staff", { mod:'breport', action:'archive-report', id: rid }, function(ret) {
              if(ret.includes('Login to')) {
                $noty.close();
                sendAlert('Session expired! Refresh the page to login again.');
                return;
              }
              var data = JSON.parse(ret);
              if(!data.success)
                sendAlert(data.error);
              else {
                $('#breport-main').html(data.html);
                sendAlert('Post successfully archived.');
              }
            });
            $noty.close();
            n = null;
          }
        },
        {
          addClass: 'btn btn-danger', text: 'Cancel', onClick: function($noty) {
            $noty.close();
            n = null;
          }
        }]
      })
      return false;
    });
    
    function sendAlert(text) {
      var n = noty({
        text: text,
        layout: 'topRight',
        timeout: 5000,
        theme: 'cryogen'
      });
    }
  
  });
input#rid(type='hidden', value=report.getId())
div#view-breport(style='clear: both; float: right;')
  div(style='max-width: 200px; font-size: 12px;')
    p.color-grey.t-center Viewing report from 
      span#breport-auth= '$for-name='+report.getUsername()+'$end'
    p.t-center.color-grey= 'Report made on: '+formatter.formatTimestamp(report.getTime(), 'MMM dd, YYYY hh:mm a')+'.'
    p.t-center.color-grey &larr; #[a.returnb-but(href='#', title='Go Back') Go back]
div(style="margin: auto; max-width: 400px; padding: 5px;")
  div.row(style='clear: both;')
    h4.color-white.t-center Title
      h6.color-grey.t-center= report.getTitle()
    h4.color-white.t-center Date Seen
      h6.color-grey.t-center= report.getDate()
    h4.color-white.t-center Can be Replicated?
      h6.color-grey.t-center= report.getReplicated()
    h4.color-white.t-center Extra Info
      h6.color-grey.t-center(style='white-space: pre-wrap;')= report.getInfo()
    h4.color-white.t-center Last Action
      h6.color-grey.t-center= report.getLastAction()
    h4.color-white.t-center Comments
      p.t-center.color-grey.fs-10 Comments are only seen by other staff and are used to include info other staff may need to know. Such as ongoing information about an investigation into the report.
    div#comments
      include ../../utils/comments
    p.com-error(style='display: none;')
    textarea.form-control.report-comment.text-input(rows='4', cols='50', placeholder='Enter comment')
    a.btn.btn-default.btn-comment#com-btn(style='margin: 15px auto;') Comment
if !report.isArchived()
  a.btn.btn-default.btn-comment.t-center#archiveb-btn(style='padding: 10px 10px; margin: auto 15px 0px auto; max-width: 150px; max-height: 40px;')
    i.fa.fa-archive
    span  Archive
