div.noty_message
  span.noty_text
  div.widget.register#view-recovery(style='margin-top: 5px', data-id=recovery.getId())
    div(style="margin: auto; max-width: 400px; padding: 5px;")
      div.row(style='clear: both;')
        h4.color-white.t-center Username
          h6.color-grey.t-center= '$for-name='+recovery.getUsername()+'$end'
        h4.color-white.t-center Status
          h6(class='t-center '+recovery.getColour())= recovery.getStatus()
        h4.color-white.t-center Date Created
          if recovery.getEmail() == ''
            if has_email == true
              h6.color-red.t-center= 'No email entered. Account email: '+real_email
            else
              h6.color-green.t-center No email entered, and account has no email on file.
          else
            if has_email == false
              h6.color-red.t-cecnter= 'Account has no email on file. Email entered: '+recovery.getEmail()
            else
              if correct_email == true
                h6.color-green.t-center= 'Email entered: '+recovery.getEmail()+' Account email: '+real_email
              else
                h6.color-red.t-center= 'Incorrect email. Entered: '+recovery.getEmail()+' Actual: '+real_email
        h4.color-white.t-center Forum Integration
          if recovery.getForumId() == 0
            if has_forum == true
              h6.color-red.t-center= 'No forum ID entered. Linked Forum ID: '+forum_id
            else
              h6.color-green.t-center No email entered, and account has no email on file.
          else
            if has_forum == false
              h6.color-red.t-center= 'No linked forum account on file. Entered Forum ID: '+recovery.getForumId()
            else
              if correct_forum == true
                h6.color-green.t-center= 'Forum ID correct. Entered: '+recovery.getForumId()+' Same as on file!'
              else
                h6.color-red.t-center= 'Incorrect forum ID. Entered: '+recovery.getForumId()+' Actual: '+forum_id
        h4.color-white.t-center Creation Date
          if recovery.getCreation() == 0
            h6.color-grey.t-center No date entered
          else
            if days_off == 0
              h6.color-green.t-center Exact date entered!
            else if days_off > 20
              h6.color-red= days_off+' days off actual.'
            else
              h6.color-yellow= days_off+' days off approx. '
        h4.color-white.t-center City/Country:
          h6.color-grey.t-center= recovery.getCico() == '' ? 'Nothing Entered' : recovery.getCico()
        h4.color-white.t-center Previous Passwords:
          div(style='padding: 5px;')
            h6.color-white.t-center First:
              span(class=recovery.getPassColour(0))= ' '+recovery.getPassText(0)
            h6.color-white.t-center Second:
              span(class=recovery.getPassColour(1))= ' '+recovery.getPassText(1)
            h6.color-white.t-center Third:
              span(class=recovery.getPassColour(2))= ' '+recovery.getPassText(2)
        h4.color-white.t-center Recovery Submitted By IP:
          h6.color-grey.t-center= recovery.getIp()
        if recovery.getActive() == 0
          h4.color-white.t-center Account's Previous IPs:
            div(style='padding: 5px;')
              -var index = 0
              for ip in list
                -index = index+1
                if index > 6
                  break
                h6.color-grey.t-center= (index)+'. '+ip
        h4.color-white.t-center Additional Information:
          div(style='padding: 5px; border: 1px solid #000; background: #111; margin-top: 5px; border-radius: 5px;')
            if recovery.getAdditional() == ''
              h6.color-grey.t-center Nothing Entered
            else
              h6.color-grey.t-center= recovery.getAdditional()
  div.noty_close
