div.noty_message
    span.noty_text
div.abstract-type-container
    p.abstract-type-title= name
    h6.endpoint-return-title Returns:
    div.endpoint-return-container
        for ret in returns
            p.endpoint-return-name.small.info(style='font-size: 11.9;')= ret.Name
                if ret.Type != 'Integer' && ret.Type != 'String' && ret.Type != 'Boolean' && ret.Type != 'Long'
                    if ret.Type.includes('List')
                        span= ' - '+ret.Type.substring(0, ret.Type.indexOf('<')+1)
                        span.endpoint-return-type= ret.Type.substring(ret.Type.indexOf('<')+1, ret.Type.length-1)
                        span= '>'
                    else if ret.Type.includes('Map')
                        span= ' - '+ret.Type.substring(0, ret.Type.indexOf('<')+1)
                        -var types = ret.Type.substring(ret.Type.indexOf('<')+1, ret.Type.length-1).split(', ')
                        -var i = 0;
                        while i < types.length
                            if types[i] == 'Integer' || types[i] == 'String' || types[i] == 'Boolean' || types[i] == 'Long'
                                span= types[i]
                            else
                                span.endpoint-return-type= types[i]
                            if i != types.length-1
                                span= ', '
                            -i++
                        span= '>'
                    else
                        span= ' - '
                        span.endpoint-return-type= ret.Type
                else
                    span= ' - '+ret.Type
                span.endpoint-return-description= ' - '+ret.Description
    h6.col-white Instances:
    div.marg-left-10.abstract-instances-container
        for child in children
            h6.col-white= child.name
            div.marg-left-10
                h6.col-white Returns:
                div.marg-left-10
                    for ret in child.returns
                        p.endpoint-return-name.small.info= ret.name
                            if ret.type != 'Integer' && ret.type != 'String' && ret.type != 'Boolean' && ret.type != 'Long'
                                if ret.type.contains('List')
                                    span= ' - '+ret.type.substring(0, ret.type.indexOf('<')+1)
                                    span.endpoint-return-type= ret.type.substring(ret.type.indexOf('<')+1, ret.type.length()-1)
                                    span= '>'
                                else if ret.type.contains('Map')
                                    span= ' - '+ret.type.substring(0, ret.type.indexOf('<')+1)
                                    -var types = ret.type.substring(ret.type.indexOf('<')+1, ret.type.length()-1).split(', ')
                                    -var i = 0;
                                    while i < types.length
                                        if types[i] == 'Integer' || types[i] == 'String' || types[i] == 'Boolean' || types[i] == 'Long'
                                            span= types[i]
                                        else
                                            span.endpoint-return-type= types[i]
                                        if i != types.length-1
                                            span= ', '
                                        -i++
                                    span= '>'
                                else
                                    span= ' - '
                                    span.endpoint-return-type= ret.type
                            else
                                span= ' - '+ret.type
                            span.endpoint-return-description= ' - '+ret.Description
div.noty_close
