link(rel='stylesheet', href='/stylesheets/api/endpoint.css')
p(style='font-size: 18px; color: white; width: 300px;')= name
if message
    for m in message
        p.small.info= m
if endpoints != null
    for endpoint in endpoints
        div.endpoint-container(data-endpoint=endpoint.getEndpoint(), data-id=endpoint.getId(), data-permissions=endpoint.getPermissions())
            p.endpoint= endpoint.getEndpoint()
                if endpoint.getRequestMethod() != null
                    span.endpoint-request-method= ' - '+endpoint.getRequestMethod()
                div(style='margin-left: 10px;')
                    if endpoint.getDescription()
                        p.small.info= endpoint.getDescription()
                    div.endpoint-paramreturn-container(style='float: left;')
                        if endpoint.getParameters() != null
                            h6.endpoint-parameter-title Parameters:
                            div.endpoint-parameter-container
                                for parameter in endpoint.getParameters()
                                    h6.endpoint-parameter-name.small.info= parameter.name
                                        span.endpoint-parameter-type= ' - '+parameter.type
                                        if parameter.isOptional()
                                            span.endpoint-parameter-optional  - (Optional)
                                            if parameter.getDefaultValue()
                                                span.endpoint-parameter-default= ' (Default: '+parameter.getDefaultValue()+')'
                                        span.endpoint-parameter-description= ' - '+parameter.getDescription()
                        if endpoint.getReturns() != null
                            h6.endpoint-return-title Returns:
                            div.endpoint-return-container
                                for ret in endpoint.getReturns()
                                    p.endpoint-return-name.small.info(style='font-size: 11.9;')= ret.getName()
                                        if ret.getType() != 'Integer' && ret.getType() != 'String' && ret.getType() != 'Boolean' && ret.getType() != 'Long'
                                            if ret.getType().contains('List')
                                                span= ' - '+ret.getType().substring(0, ret.getType().indexOf('<')+1)
                                                span.endpoint-return-type= ret.getType().substring(ret.getType().indexOf('<')+1, ret.getType().length()-1)
                                                span= '>'
                                            else if ret.getType().contains('Map')
                                                span= ' - '+ret.getType().substring(0, ret.getType().indexOf('<')+1)
                                                -var types = ret.getType().substring(ret.getType().indexOf('<')+1, ret.getType().length()-1).split(', ')
                                                -var i = 0;
                                                while i < types.size()
                                                    -var type = types.get(i)
                                                    if type == 'Integer' || type == 'String' || type == 'Boolean' || type == 'Long'
                                                        span= type
                                                    else
                                                        span.endpoint-return-type= type
                                                    if i != types.size()-1
                                                        span= ', '
                                                    -i++
                                                span= '>'
                                            else
                                                span= ' - '
                                                span.endpoint-return-type= ret.getType()
                                        else
                                            span= ' - '+ret.getType()
                                        span.endpoint-return-description= ' - '+ret.getDescription()
                    div(style='float: right;')
                        button.button.test-api-button Test Endpoint
                        if endpoint.getPermissions() >= 0
                            p.endpoint-permissions-login-error(data-logged=(user != null)) Login Required
                    div(style='clear: both;')
                    -var example = false;
                    if endpoint.getExample() != null
                        div.endpoint-example-container(style='clear: both;')
                            h6.endpoint-example-title Example:
                            div.endpoint-example-output-container
                                div.endpoint-example= endpoint.getExample()
