mixin addSwitch(id)
    label.switch(id=id, style='width: 30px !important; height: 17px !important;')
        input(type='checkbox', checked=false)
        span.slider.round
script.
    $(document).ready(() => {

        $('.endpoint-test-input').each(adjustElement);

        $('.endpoint-test-input-button').each(adjustElement);

        $('.endpoint-test-input-error').each(adjustElement);

        function adjustElement(i, obj) {
            var elem = $(obj);
            var height = elem.closest('.endpoint-test-parameter-container').find('.endpoint-test-parameter-namedesc').height();
            height -= elem.height();
            height -= 10; //description is -10 margin
            height = height/2;
            elem.css('margin-top', height+'px');
        }

        $('.endpoint-test-input').keydown(function(e) {
            var data = $(this).data();
            if((e.which < 96 || e.which > 105) && (data.type == 'Integer' || data.type == 'Long') && e.which != 8 && e.which != 13) {
                return false;
            }
            return true;
        });

    });
div.noty_message
    span.noty_text
div.endpoint-test-container
    p.endpoint-test-title= endpoint.getEndpoint()
    if endpoint.getParameters()
        for parameter in endpoint.getParameters()
            div.endpoint-test-parameter-container(data-parameter=parameter)
                div.endpoint-test-parameter-namedesc
                    p.endpoint-test-parameter-name= parameter.getName()
                    p.endpoint-test-parameter-description= parameter.getType()+' - '+parameter.getDescription()
                    p.endpoint-test-parameter-description= 'Optional - '+(parameter.isOptional() ? 'True' : 'False')
                    p.endpoint-test-parameter-description= 'Default - '+(parameter.getDefaultValue() == null ? 'Null' :  parameter.getDefaultValue())
                div.endpoint-test-parameter-value
                    if parameter.getType() == 'Integer' || parameter.getType() == 'String' || parameter.getType() == 'Long'
                        input.endpoint-test-input(type='text', placeholder=parameter.getDefaultValue(), data-type=parameter.getType())
                    else if parameter.type == 'Boolean'
                        div.endpoint-test-input-button
                            +switch('', 30, 17, parameter.getDefaultValue())
                    else
                        p.endpoint-test-input-error Invalid parameter type
    p.endpoint-test-output Output will be displayed here.
div.noty_close
