script.
  $(document).ready(function() {

    setFilters();

    function setFilters() {
      if(filters == null)
        return;
      for(key in filters) {
        var visible = filters[key];
        var element = $(`.filter-item[data-name='${key}']`);
        element.find('input').attr('checked', visible)
      }
    }

    var visible = false

    $(document).on('click', '#filterbtn', function() {
      if(!visible) {
        visible = true;
        $('#filter-dropdown').addClass('show');
      } else {
        visible = false;
        $('#filter-dropdown').removeClass('show');
      }
      return false;
    });

    $(document).on('click', '.filter-item input', function() {
      var element = $(this).closest('.filter-item');
      var id = element.data('id');
    });

    $(document).mousedown(function(e) {
      var container = $('.dropdown');
      if(!container.is(e.target) && container.has(e.target).length === 0  && visible) {
        visible = false;
        $('#filter-dropdown').removeClass('show');
      }
    });

  });
div.header(style='min-height: 30px;')
  h4.color-white.t-center(style='float: left; margin-left: 45%;') Prepped Items
  div.dropdown
    i.fa.fa-filter.link#filterbtn
    div.dropdown-content#filter-dropdown
      p.t-center.color-white.filter-menu-title Filter Menu
      for sheet in sheets
        div.filter-item(data-id=sheet.getId(), data-name=sheet.getName())
          input.filter-check(type='checkbox', style='float: right;', checked=true)
          p.sheet-name(style='float: right;')= sheet.getDisplayName()
          div(style='clear: both;')
div(style='clear:both;')
div.cnt
  table.table.hs-table.table-condensed.table-responsive
    thead
      tr
        th.t-center ID
        th.t-center Display Name
        th.t-center Unit
        th.t-center Portion
        th.t-center Shelf Life
        th.t-center Name
        th.t-center Sheet Name
        th.t-center Sheet Priority
        th.t-center Edit
        th.t-center Trash
    tbody
      for item in prepItems
        tr(data-id=item.getId())
          td.b-right= item.getId()
          td.b-right.display= item.getDisplayName()
          td.b-right= item.getUnit()
          td.b-right= item.getPortion()
          td.b-right= item.getShelfLife()
          td.b-right= item.getName()
          td.b-right= item.getSheetName()
          td.b-right= item.getSheetPriority()
          td.b-right.link.editPrep
            i.fa.fa-edit
          td.b-right.link.trashPrep
            i.fa.fa-trash
