if punishments.size() == 0
  p.t-center No punishments to display. Keep up the good work!
else
  table.table.hs-table.table-condensed.table-responsive.preports-table.widget(style='font-size: 12px; min-width: 703px')
    thead
      tr
        th.t-center Type
        th.t-center Date
        th.t-center Expiry
        th.t-center Reason
        th.t-center Appeal
        th.t-center View Appeal
        th.t-center View
    tbody
      for punish in punishments
        tr(data-id=punish.getId())
          td.b-right.t-center
            span
              if punish.getType() == 1
                svg.icon.icon-hammer2
                  use(xlink:href='#icon-hammer2')
              else
                span.fa.fa-microphone-slash
            span= ' '+(punish.getType() == 0 ? 'Mute' : 'Ban')
          td.b-right.t-center= formatter.formatTimestamp(punish.getDate(), 'MMMMM dd, YYYY - h:mm a')
          td.b-right.t-center= punish.getExpiry() == null ? 'Permanent' : formatter.formatTimestamp(punish.getExpiry(), "MMMMM dd, YYYY - h:mm a")
          td.b-right.t-center.reason(style='min-width: 94px;') 
            i hover
            div.hover-content.t-center
              div.bubble.t-center
                p.t-center.reason-title.color-white Reason
                p.t-center(style='padding: 5px;')= punish.getReason()
          td.b-right.t-center
            if punish.getAppeal() == null
              span.vis-link#create-appeal Create Appeal
            else
              span(class=''+punish.getAppeal().getColour())= punish.getAppeal().getStatus()
          td.b-right.t-center
            if punish.getAppeal() != null
              span.vis-link#appeal-link View Appeal
            else
              span N/A
          td.link.t-center.vis-link#punish-link View Punishment
