div.noty_message
  span.noty_text
  if !punishment.isActive()
    if punishment.getArchived() != null
      p.t-center.color-grey= 'Punishment ended by $for-name='+punishment.getArchiver()+'$end on: '+formatter.formatTimestamp(punishment.getArchived(), 'MMM dd, YYYY hh:mm a')+'.'
    else if punishment.getAppeal() != null && punishment.getAppeal().getAnswerer() != null
      p.t-center.color-grey= 'Punishment ended on: '+formatter.formatTimestamp(punishment.getExpiry(), 'MMM dd, YYYY hh:mm a')+' as appeal was '
        span(class=punishment.getAppeal().getColour())= punishment.getAppeal().getActive() == 1 ? 'accepted' : 'denied' 
        span= ' by $for-name='+punishment.getAppeal().getAnswerer()+'$end.'
    else
      p.t-center.color-grey= 'Punishment ended on: '+formatter.formatTimestamp(punishment.getExpiry(), 'MMM dd, YYYY hh:mm a')+'.'
  div.widget.register#view-punishment(style='margin-top: 5px', data-id=punishment.getId())
    div(style="margin: auto; max-width: 400px; padding: 5px;")
      div.row(style='clear: both;')
        h4.color-white.t-center Type
          h6.color-grey.t-center
            span
              if punishment.getType() == 1
                span.fa.fa-gavel
              else
                span.fa.fa-microphone-slash
            span= ' '+(punishment.getType() == 0 ? 'Mute' : 'Ban')
        h4.color-white.t-center Date Punished
          h6.color-grey.t-center= formatter.formatTimestamp(punishment.getDate(), 'MMM dd, YYYY hh:mm a')
        h4.color-white.t-center Expiry
          h6.color-grey.t-center= punishment.getExpiry() == null ? 'Never' : formatter.formatTimestamp(punishment.getExpiry(), 'MMM dd, YYYY hh:mm a')
        h4.color-white.t-center Punisher
          h6.color-grey.t-center= '$for-name='+punishment.getPunisher()+'$end'
        h4.color-white.t-center Reason for Punishment
          h6.color-grey.t-center= punishment.getReason()
        if staff
          h4.color-white.t-center Comments
            p.t-center.color-grey.fs-10 Comments on this page can only be seen by staff and should be used to inform other staff about additional information about this punishment. Such as a suggested time to be exonerated.
          include ../../../utils/comments
  div.noty_close
