div.noty_message
  span.noty_text
  if !report.isActive()
    p.t-center.color-grey= 'Report archived on: '+formatter.formatTimestamp(report.getArchived(), 'MMM dd, YYYY hh:mm a')+'.'
  div.widget.register#view-report(style='margin-top: 5px', data-id=report.getId(), data-type=report.type())
    div(style="margin: auto; max-width: 400px; padding: 5px;")
      div.row(style='clear: both;')
        h4.color-white.t-center Title
          h6.color-grey.t-center= report.getTitle()
        if staff
          h4.color-white.t-center Reported By
            h6.color-grey.t-center= '$for-name='+report.getUsername()+'$end'
        h4.color-white.t-center Offender
          h6.color-grey.t-center= '$for-name='+report.getOffender()+'$end'
        h4.color-white.t-center Rule Broken
          h6.color-grey.t-center= report.getRule()
        h4.color-white.t-center Extra Info
          h6.color-grey.t-center= report.getInfo()
        h4.color-white.t-center Proof
          h6.color-grey.t-center(style='white-space: pre-wrap;')= report.getProof()
        h4.color-white.t-center Comments
          p.t-center.color-grey.fs-10 Comments can be made by both staff and players and are used to relay additional information needed for the report.
        div#comments
          include ../../../utils/comments
        p.com-error(style='display: none;')
        textarea.form-control.report-comment.text-input(rows='4', cols='50', placeholder='Enter comment')
        a.btn.btn-default.btn-comment#com-btn(style='margin: 15px auto;') Comment
  div.noty_close
