script.
	$(document).ready(function() {


		$('#com-btn').click(function() {
			var input = $('.appeal-comment').val();
			var id = $('#aid').val();
			if(input == '' || input.replace(/ /g, '') == '') {
				sendAlert('You must enter a comment first.');
				return;
			}
			$.post('/staff', { mod:'appeal', action:'submit-com', id:id, comment:input }, function(ret) {
				var data = JSON.parse(ret);
				if(data.success == null) {
					sendAlert('Session expired! Refresh the page to login again.');
					return;
				}
				if(!data.success) {
					sendAlert(data.error);
					return;
				}
				$('#comments').html(data.comments);
				$('.appeal-comment').val('');
				sendAlert('Comment successfully submitted!');
			});
		});

		function sendAlert(text) {
			var n = noty({
				text: text,
				layout: 'topRight',
				timeout: 5000,
				theme: 'cryogen'
			});
		}

	});
input#aid(type='hidden', value=appeal.getId())
div#view-appeal(style='clear: both; float: right;')
	div(style='max-width: 200px; font-size: 12px;')
		p.color-grey.t-center Viewing appeal from 
			span#appeal-auth= '$for-name='+appeal.getUsername()+'$end'
		p.t-center.color-grey= 'Appeal made on: '+formatter.formatTimestamp(appeal.getTime(), 'MMM dd, YYYY hh:mm a')+'.'
		p.t-center.color-grey &larr; #[a.returna-but(href='#', title='Go Back') Go back]
div(style="margin: auto; max-width: 400px; padding: 5px;")
	div.row(style='clear: both;')
		h4.color-white.t-center Title
			h6.color-grey.t-center= appeal.getTitle()
		h4.color-white.t-center Detailed Appeal
			h6.color-grey.t-center(style='white-space: pre-wrap;')= appeal.getMessage()
		h4.color-white.t-center Status
			h6(class='t-center '+appeal.getColour())= appeal.getStatus()
		if appeal.getActive() == 2
			h4.color-white.t-center Reason for Decline
				h6.color-grey.t-center= appeal.getReason()
		h4.color-white.t-center Comments
			p.t-center.color-grey.fs-10 Comments on this page will be seen by both staff and the player. Remember to keep it professional, staff!
		div#comments
			include ../../utils/comments
		p.com-error(style='display: none;')
		textarea.form-control.appeal-comment.text-input(rows='4', cols='50', placeholder='Enter comment')
		a.btn.btn-default.btn-comment#com-btn(style='margin: 15px auto;') Comment
if appeal.isActive()
	a.btn.btn-default.btn-comment.t-center#archivea-btn(style='padding: 10px 10px; margin: auto 15px 0px auto; max-width: 150px; max-height: 40px;')
		i.fa.fa-archive
		span  Archive
