div.header
  if hsuser != null
    h4.color-white= 'Highscores - Viewing Player: '+hsuser.getName()
  else
    h4.color-white Highscores - Player not found!
div.cnt
  table.table.hs-table.table-condensed.table-responsive
    thead
      tr
        th Skill
        th Rank
        th Level
        th Experience
    tbody
      for i in jIterator.iterate(25)
        tr
          td.b-right
            img(src='images/skills_hd/'+i+'.png', style='width: 5%;')
            span= ' - '+hsutils.getSkillName(i)
          td.b-right= hsuser.getRank(i)
          td.b-right= hsuser.getLevel(i)
          td= utils.formatDouble(hsuser.getXP(i))
          
