div.header
  h4.color-white= 'Highscores - '+skill_name
div.cnt
  table.table.hs-table.table-condensed.table-responsive
    thead
      tr
        th Rank
        th Username
        th Level
        th Experience
    tbody
      -for user in hsusers.getList()
        tr
          td.b-right.rank= user.getRank(skill_id)
          td.b-right.username= user.getName()
          td.b-right.level= user.getLevel(skill_id)
          td.xp= utils.formatDouble(user.getXP(skill_id))
