div.noty_message
	span.noty_text
	div.widget.register(style='margin-top: 5px')
		p.t-center(style='margin-top:5px;') Name:
		input.name(type='text', placeholder='Name', value=item.getName(), style='text-align: center')
		p.t-center(style='margin-top:5px;') Unit:
		input.unit(type='text', placeholder='Unit', value=item.getUnit(), style='text-align: center')
		p.t-center(style='margin-top:5px;') Portion:
		input.portion(type='text', placeholder='Portion', value=item.getPortion(), style='text-align: center')
		p.t-center(style='margin-top:5px;') Shelf Life:
		input.shelflife(type='text', placeholder='Shelf Life', value=item.getShelfLife(), style='text-align: center')
		p.t-center(style='margin-top:5px;') Display Name:
		input.displayname(type='text', placeholder='Display Name', value=item.getDisplayName(), style='text-align: center')
		p.t-center(style='margin-top:5px;') Sheet Name:
		input.sheetname(type='text', placeholder='Sheet Name', value=item.getSheetName(), style='text-align: center')
		p.t-center(style='margin-top:5px;') Sheet Priority:
		input.sheetpriority(type='text', placeholder='Sheet Priority', value=item.getSheetPriority(), style='text-align: center')
	div.noty_close
