include ../../utils/stylesheet
include ../../utils/script
include ../../utils/name
include ../../utils/account/recovery_questions

+includeStylesheet('forums/post')
+includeStylesheet('account/overview')
+includeStylesheet('utils/input')
+includeStylesheet('utils/buttons')

+includeScript('utils/trig')
+includeScript('utils/rgb-utils')
+includeScript('utils/three/THREE')
+includeScript('utils/three/Stats')
+includeScript('utils/three/TrackballControls')

+includeScript('account/model/frame-manager')
+includeScript('account/model/animation')
+includeScript('account/model/rasterizer')
+includeScript('account/model/model-viewer')

script.

    $(document).ready(() => {

        loadViewer();


        $('#purchase').click(() => {
            showTab('shop');
        });

        $('#revoke').click(() => {
            post('/account/revoke');
        });

        $('#view-logins').click(() => {
            postNoty('/account/logins', {}, 'Account Logins', [ closeButton() ]);
        });

        $('#qr-code').click(() => {
            postNoty('/account/tfa/noty', {}, 'QR Code', [ closeButton() ]);
        });

        $('#save').click(() => {

            let display = $('#display').val();
            let userTitle = $('#user-title').val();
            let email = $('#email').val();
            let discord = $('#discord').val();
            let tfa = $('#tfa-switch').is(':checked');
            let newPass = $('#new-pass').find('input').val();

            let current = $('#current').val();

            let questions = [];

            $('.question').each(function(i) {
                let selected = parseInt($(this).find('option:selected').val());
                let input = $(this).find('input').val();
                questions.push([ selected, input ]);
            });

            post('/account/overview/save', { display, userTitle, email, discord, questions: JSON.stringify(questions), tfa, current, newPass }, null, data => {
                sendAlert('Your settings have been saved. More information will follow if needed.');
                if(data.display)
                    $('#display').val(data.display);
                if(data.email)
                    sendAlert('An email has been sent to the email entered. Please view it and click the link provided to finish linking your email.');
                if(data.discord)
                    $('#discord').val(data.discord);
                $('#qr-code').css('visibility', data.tfa ? 'visibile' : 'hidden');
                if(data.tfa)
                    postNoty('/account/tfa/noty', {}, 'QR Code', [ closeButton() ]);
                $('#fta-switch').attr('checked', data.tfa ? 'true' : 'false');
            });

            $('#current').val('');

            return false;

        });

    });

.row
    .col-md-4#model-viewer
        #render
        #animation-id
            input.input(type='text', placeholder='Animation Id', value='11989')
            button.btn.btn-default.input#play-animation(style='margin-left: 5px;') Play
        #spot-animation-id
            input.input(type='text', placeholder='Spot Animation Id', value='2113')
            button.btn.btn-default.input#play-spot-animation(style='margin-left: 5px') Play
        #camera-display
            button.btn.btn-default.input#get-camera-coords Get Camera Coords
    .col-md-8#overview
        h3 Overview
        .row
            .col-md-6
                p Display Name
            .col-md-6
                input.input#display(type='text', value=user.getDisplayName())
        .row
            .col-md-6
                p Forum User Title 
                    span(title="This user title will be displayed under your name in posts and on your profile page. Example to the left.")
                        i.fa.fa-info-circle
            .col-md-6
                if user.getDonator() > 0
                    input.input#user-title(type='text', value=user.getUserTitle())
                else
                    p= user.getUserTitle()
        .row
            .col-md-6
                p Forum Displaygroup
            .col-md-6
                p= user.getDisplayGroup().getName()
        .row
            .col-md-6
                p Forum Usergroups
            .col-md-6
                p= user.getUsergroupsJoined(', ')
        .row
            .col-md-6
                p Email 
                    span(title="You will be emailed a confirmation link that will need to be clicked before you email is verified.")
                        i.fa.fa-info-circle
            .col-md-6
                input.input#email(type='text', value=user.getEmail())
                //- TODO - show email currently being verified with a progress symbol next to it
        .row
            .col-md-6
                p Account Status
            .col-md-6
                p= user.getMemberStatus()+' '
                    span.link#purchase
                        i.fa.fa-plus-circle
        .row
            .col-md-6
                p Discord 
                    span(title="Use the command .link via discord to get a code that you can put in this input to link your accounts.")
                        i.fa.fa-info-circle
            .col-md-6
                input.input#discord(type='text', placeholder=discord ? discord.getIdString() : "")
        .row
            .col-md-6
                p Saved Logins
            .col-md-6
                .row
                    .col-md-6
                        button.btn.btn-default.small-btn#view-logins View
                    .col-md-6
                        button.btn.btn-default.small-btn#revoke(title="This will not revoke your own login. Only logins other than this browser.") Revoke
        .row
            .col-md-6
                p Two-Factor Authentication 
                    a(href='', title='Turn on to enable TFA for your account. Click here for more information.')
                        i.fa.fa-info-circle
            .col-md-6
                .row
                    button.btn.btn-default.small-btn.col-md-6#qr-code(title='Display the QR code to be added to Google Authenticator.', style=(user.getTFAKey() == null ? 'visibility: hidden;' : 'visibility: visible;')) Get QR Code
                    label.switch.col-md-6
                        input#tfa-switch(type='checkbox', checked=(user.getTFAKey() == null ? false : true))
                        span.slider.round
        .row
            .col-md-6(style='margin-top: 75px;')
                p Recovery questions
            .col-md-6
                for i in [0, 1, 2]
                    +showQuestion(null, null, i)
        //- Idk why this one is displaying directly below the one above, regardless of margin
        .row#new-pass
            .col-md-6
                p New Password
            .col-md-6
                input.input(type='password', placeholder='New Password', autocomplete='new-password')
        .row#current-row
            .col-md-6
                p Current Password
                    span.color-red *
                p.color-red#pass-info (Required for any changes)
            .col-md-6
                input.input#current(type='password', placeholder='Current Password', autocomplete='new-password')
        .row
            .col-md-6
            .col-md-6
                button.btn.btn-default.small-btn#save Save Settings
.clear
