script.
  var cart = [];
  $(document).ready(function() {
    
    loadCart();
    
    function loadCart() {
      $.post('/account', { action:'get-cart' }, function(data) {
        var sdata = data.split(",");
        var total = 0;
        var tprice = 0;
        for(var i = 0; i < sdata.length; i++) {
          var item = sdata[i];
          var itemD = item.split(":");
          if(itemD.length < 3)
            continue;
          var id = parseInt(itemD[0]);
          var amount = parseInt(itemD[1]);
          var price = parseInt(itemD[2]);
          total += amount;
          tprice += (price*amount);
          cart[id] = amount;
          var elem = $('.items').find('[data-id='+id+']');
          setQuantity(elem, amount);
          if(amount > 1) {
            var quant = elem.find('.quant');
            quant.css('display', '');
            elem.find('.but').css('display', 'none');
          }
        }
        updatePrice(total, tprice);
      });
    }
    
    $('.btn-ok').click(function() {
      var item = $(this).closest('.item');
      var quant = item.find('.quant');
      quant.css('display', '');
      item.find('.but').css('display', 'none');
      increaseQuantity(item);
    });
    
    $('.btn-danger').click(function() {
      var item = $(this).closest('.item');
      decreaseQuantity(item);
    });
    
    $('.btn-success').click(function() {
      var item = $(this).closest('.item');
      increaseQuantity(item);
    });
    
    $(document).on('click', '#review-minus', function() {
      var item = $(this).closest('#cart-item');
      var id = item.data('id');
      cart[id]--;
      if(cart[id] < 1)
        cart[id] = 1;
      var text = item.find('#item-info').html();
      text = text.substring(text.indexOf('x'));
      text = cart[id]+' '+text;
      item.find('#item-info').html(text);
    });
    
    $(document).on('click', '#review-plus', function() {
      var item = $(this).closest('#cart-item');
      var id = item.data('id');
      cart[id]++;
      if(cart[id] > 10)
        cart[id] = 10;
      var text = item.find('#item-info').html();
      text = text.substring(text.indexOf('x'));
      text = cart[id]+' '+text;
      item.find('#item-info').html(text);
    });
    
    $('#review-minus').click(function() {
      //- var item = $(this).closest('#cart-item');
      //- var id = item.data('id');
      //- cart[id]--;
      //- if(cart[id] < 0)
      //-   cart[id] = 0;
      //- var text = item.find('#item-info').html();
      //- text = text.substring(text.indexOf('x'));
      //- item.find('#item-info').html(text);
    });
    
    $('.checkout').click(function() {
      updateCart();
      if(cart == null || cart.length == 0) {
        sendAlert("You have no items in your cart!");
        return;
      }
      var current = $(this);
      var car = "";
      for(var i in cart) {
        if(typeof cart[i] !== 'function')
          car += i+":"+cart[i];
          car += ",";
      }
      $.post('/account', {action:'get-checkout-conf', cart: car}, function(ret) {
        var data = JSON.parse(ret);
        var n = noty({
          text: 'Please review and confirm your cart.',
          type: 'confirm',
          layout: 'center',
          template: data.html,
          dismissQueue: false,
          theme: 'cryogen',
          progressBar: true,
          buttons: [{
            addClass: 'btn btn-primary', text: 'Confirm', onClick: function($noty) {
              
              $noty.close();
            }
          },
          {
            addClass: 'btn btn-danger', text: 'Cancel', onClick: function($noty) {
              $noty.close();
            }
          }]
        })
      });
    });
    
    function htmlDecode(input){
      var e = document.createElement('div');
      e.innerHTML = input;
      return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
    }
    
    function sendAlert(text) {
      var n = noty({
        text: text,
        layout: 'topRight',
        timeout: 5000,
        theme: 'cryogen'
      });
    }
    
    function increaseQuantity(item) {
      var id = item.data('id');
      if(cart[id] == null)
        cart[id] = 1;
      else
        cart[id]++;
      if(cart[id] > 10)
        cart[id] = 10;
      updateCart();
      setQuantity(item, cart[id]);
    }
    
    function decreaseQuantity(item) {
      var id = item.data('id');
      if(cart[id] == null || cart[id] == 0)
        return;
      var amount = cart[id];
      if(amount > 1) {
        cart[id]--;
        updateCart();
        setQuantity(item, cart[id]);
        return;
      }
      cart[id] = 0;
      updateCart();
      var quant = item.find('.quant');
      var but = item.find('.but');
      quant.css('display', 'none');
      but.css('display', '');
    }
    
    function setQuantity(item, quantity) {
      var text = item.find('#quantity');
      text.val(quantity);
    }
    
    function updateCart() {
      var car = "";
      for(var i in cart) {
        if(typeof cart[i] !== 'function')
          car += i+":"+cart[i];
          car += ",";
      }
      $.post('/account', {action:'update-cart', cart:car}, function(ret) {
        var data = JSON.parse(ret);
        var price = data.price;
        var total = data.total;
        updatePrice(total, price);
      });
    }
    
    function updatePrice(items, price) {
      $('.cart-price').html('Cart ('+items+') - $'+price);
    }
  });
div.tab-pane.fade(id='shop')
  h5 Cryogen Shop:
  p.small The Cryogen Shop allows you to purchase items/features to be used in-game and/or on the website. All items on this page are subject to change without notice. Please also keep in mind that there are NO refunds except in a case of valid reason.
  p.small All prices are in CAD. Only Paypal is accepted at this time.
  div.cart
    div.row
      div.col-md-3
        p
          span.color-white Total: 
          span.cart-price Cart (0) - $0
      div.col-md-6
        p
          span.color-white Cryogen Shop
      div.col-md-3
        button.checkout Checkout
  div.items
    div.row
      for item in shopItems
        div.col-sm-4.item-container
          div.item(data-id=item.getId())
            h3.white= item.getName()
            img.img-responsive(src='/images/shop/bond.png')
            div.row
              div.col-sm-10.col-sm-offset-1
                p.info
                  span.color-white Type: 
                  span.color-white= item.getType()
              div.col-sm-10.col-sm-offset-1
                p.info 
                  span.color-white= '$'+item.getPrice()
                p.small.color-grey.info= item.getDescription()
            div.row
              div.but(style='text-align: center;')
                div.col-sm-10.col-sm-offset-1
                  button.btn.btn-ok.addCart Add to Cart
              div.quant(style='display: none;')
                div.col-sm-8.col-sm-offset-2(style='padding-bottom: 15px;')
                  div.input-group
                    span.input-group-btn
                      button.quantity-left-minus.btn.btn-danger.btn-number(type='button', data-type='minus', data-field='')
                        span.glyphicon.glyphicon-minus
                    input.test.form-control.input-number(type='text', id='quantity', value='1', min='1', max='10')
                    span.input-group-btn
                      button.quantity-right-plus.btn.btn-success.btn-number(type='button', data-type='plus', data-field='')
                        span.glyphicon.glyphicon-plus
  form(id='finish', action='/paypal', method='post', style='display: none;')
    input(type='hidden', id='data', name='data', value='null')
  
