div.items(style='clear: both;')
  div.row
    for item in shopItems
      div.col-sm-4.item-container
        div.item(data-id=item.getId(), data-price=item.getPrice())
          h3.white= item.getName()
          img.img-responsive(src=item.getImageLink())
          div.row
            div.col-sm-10.col-sm-offset-1
              p.info
                span.color-white Type: 
                span.color-white= item.getType()
            div.col-sm-10.col-sm-offset-1
              p.info 
                span.color-white= '$'+item.getPrice()
              p.small.color-grey.info= item.getDescription()
          div.row
            div.but(style='text-align: center;')
              div.col-sm-10.col-sm-offset-1
                button.btn.btn-ok.addCart Add to Cart
            div.quant(style='display: none;')
              div.col-xs-8.col-xs-offset-2(style='padding-bottom: 15px;')
                div.input-group.chgquant
                  span.input-group-btn
                    button.quantity-left-minus.btn.btn-danger.btn-number(type='button', data-type='minus', data-field='')
                      span.glyphicon.glyphicon-minus
                  input.test.form-control.input-number.shop-item-quantity(type='text', value='1', min='1', max='10')
                  span.input-group-btn
                    button.quantity-right-plus.btn.btn-success.btn-number(type='button', data-type='plus', data-field='')
                      span.glyphicon.glyphicon-plus
