html
	head
		link(rel='stylesheet', href='http://test.cryogenrsps.com/stylesheets/forum.css')
		link(rel='stylesheet', href='http://test.cryogenrsps.com/stylesheets/fonts.css')
	body
		div.personal-shop(data-username=username)
			div.shop-title= crowned+'\'s Shop'
			div.pos-items
				-var i = 0;
				for item in items
					if item != ''
						img.pos-item(data-id=item.getId(), data-value=item.formatPrice(), data-name=item.getName(), data-examine=item.getExamine() src='http://test.cryogenrsps.com/images/items/'+item.getId()+'.png')
						-i++;
		div.context-menu.full
			div.context-header Choose Option
			div.context-item#buy Buy
				span.context-item-name
			div.context-item#value Value
				span.context-item-name
			div.context-item#examine Examine
				span.context-item-name
		div.context-menu.empty
			div.context-header Choose Option
			div.context-item(style='height: 5px;')
		div.pop-up-box
