extend ../../default

block head

block content
	div.container
		div.widget.register
			div.header
				h4.color-white View Recovery
				h5.color-grey View an account recovery and choose to either accept or deny it
				h5.color-grey Passwords will automatically be reset and sent to users if you choose to accept the recovery.
				h5.color-grey Here you can view the questions and results to the answers. Recover accounts at your descretion, but only if you believe it is the rightful owner.
			div.content
				div.row
					div.box(style="padding: 20px;")
						if success == false
							p.color-white.t-center No recovery could be found for that ID. Please try again or contact Cody for help.
						else if norights == true
							p.color-white.t-center You must be an administrator to view recoveries.
						else
							p.color-white Username: 
								span.color-green= '$for-name='+recovery.getUsername()+'$end'
							p.color-white Email: 
								if recovery.getEmail() == ''
									if has_email == true
										span.color-red= 'No email entered. Account email: '+real_email
									else
										span.color-green= 'No email entered. Account has no email on file.'
								else
									if has_email == false
										span.color-red= 'Account has no email on file. Email entered: '+recovery.getEmail()
									else
										if correct_email == true
											span.color-green Email correct!
										else
											span.color-red= 'Incorrect email. Entered: '+recovery.getEmail()+' Actual: '+real_email
							p.color-white Forum ID: 
								if recovery.getForumId() == ''
									if has_forum == true
										span.color-red= 'No forum ID entered. Linked forum ID: '+forum_id
									else
										span.color-green No forum ID entered. No linked forum account on file.
								else
									if has_forum == false
										span.color-red= 'No linked forum account on file. Entered forum ID: '+recovery.getForumId()
									else
										if correct_forum == true
											span.color-green Forum ID correct!
										else
											span.color-red= 'Incorrect forum ID. Entered: '+recovery.getForumId()+' Actual: '+forum_id
							p.color-white Created: 
								if recovery.getCreation() == 0
									span.color-grey No date entered
								else
									if days_off == 0
										span.color-green Exact date entered!
									else if days_off > 20
										span.color-red= days_off+' days off.'
									else
										span.color-yellow= days_off+' days off.'
							p.color-white City/Country: 
								span.color-grey=recovery.getCico()
							-var first = recovery.getPass(0);
							-var second = recovery.getPass(1);
							-var third = recovery.getPass(2);
							p.color-white Previous Passwords:
							div(style='padding: 5px;')
								p.color-white First: 
									if first == -1
										span.color-grey No password entered
									else if first == 0
										span.color-red Incorrect password entered
									else if first == 1
										span.color-green Correct password entered
								p.color-white Second: 
									if second == -1
										span.color-grey No password entered
									else if second == 0
										span.color-red Incorrect password entered
									else if second == 1
										span.color-green Correct password entered
								p.color-white Third: 
									if third == -1
										span.color-grey No password entered
									else if third == 0
										span.color-red Incorrect password entered
									else if third == 1
										span.color-green Correct password entered
							p.color-white Additional Information: 
							div(style='padding: 5px; border: 1px solid #000; background: #111;')
								if recovery.getAdditional() == ''
									p.color-grey Nothing Entered
								else
									p.color-grey= recovery.getAdditional()
							button.btn.btn-default(style='margin: 10px auto;') Respond
