table.table.hs-table.table-condensed.table-responsive.users-table.widget(style='font-size: 12px;')
    thead
        tr
            th.t-center ID
            th.t-center Username
            th.t-center Display Name
            th.t-center Display Group
            th.t-center UserGroups
            th.t-center Email
            th.t-center Post Count
            th.t-center Created
            th.t-center Edit
    tbody
        for user in users
            tr(data-id=user.getId())
                td.b-right= user.getId()
                td.b-right= user.getUsername()
                td.b-right= user.getDisplayName()
                td.b-right= user.getDisplayGroup().getName()
                td.b-right= user.getUsergroups().size()+' groups'
                td.b-right= user.getEmail()
                td.b-right= user.getPostCount()
                td.b-right= formatter.formatTimestamp(user.getCreationDate(), 'EEEE, MMM dd, YYYY')
                td.vis-link.edit-user
                    i.fa.fa-edit
