p.forum-widget-name Registered Users:
p.forum-widget-value= registeredUsers
.clear
p.forum-widget-name Users Online:
p.forum-widget-value= onlineUsers
.clear
p.forum-widget-name Most Online:
p.forum-widget-value= mostOnline
.clear
p.forum-widget-name Threads:
p.forum-widget-value= totalThreads
.clear
p.forum-widget-name Posts:
p.forum-widget-value= totalPosts
.clear