div.container(style='max-width: 702px;')
  div.row(style='max-width: 600px;')
    for package in packages
      if package.isActive()
        div.package-box.col-xs-6(data-id=package.getId())
          img.package-img(src=package.getShopItem().getImageLink())
          div.package-detail(style='top: 5px;')= 'Name: '+package.getShopItem().getName()
          div.package-detail(style='top: 25px;')= 'Price: $'+package.getShopItem().getPrice()
          div.package-detail(style='top: 45px; max-width: 205px; white-space: pre-wrap;')= 'Purchased: '+formatter.formatTimestamp(package.getDate(), 'MMM dd, yyyy')
          p.redeem-info Click to Redeem
      else
        div.package-box-archive.col-xs-6(data-id=package.getId())
          img.package-img(src=package.getShopItem().getImageLink())
          div.package-detail(style='top: 5px;')= 'Name: '+package.getShopItem().getName()
          div.package-detail(style='top: 25px;')= 'Price: $'+package.getShopItem().getPrice()
          div.package-detail(style='top: 45px; max-width: 205px; white-space: pre-wrap;')= 'Purchased: '+formatter.formatTimestamp(package.getDate(), 'MMM dd, yyyy')
          div.package-detail(style='top: 65px; max-width: 205px; white-space: pre-wrap;')= 'Redeemed On: '+formatter.formatTimestamp(package.getRedeemDate(), 'MMM dd, yyyy')
          p.redeem-info Click to Redeem
