include ../utils/forum_name
script.
    $(document).ready(() => {

        $(document).on('click', '.forum-lastpost>.name', function() {
            let link = $(this).data('link');
            $.post(link, {}, ret => {
                let data = getJSON(ret);
                if(data == null) return false;
                history.pushState({}, 'ForumSection', link);
                setBreadCrumbs(data.breadcrumbs, data.links);
                $('#forum-content').html(data.html);
            });
        });
        
        $(".minimize").click(function() {
            $(this).closest(".news-post").find(".content").slideToggle(400);
            $(this).html($(this).html() == '<span class="glyphicon glyphicon-plus"></span>' ? '<span class="glyphicon glyphicon-minus"></span>' : '<span class="glyphicon glyphicon-plus"></span>');
        });

        $(".minimized").each(function() {
            $(this).find(".content").hide();
            $(this).find(".minimize").html('<span class="glyphicon glyphicon-plus"></span>');
        });
        
    });

for category in categories
    if category.getPermissions() == null || category.getPermissions().canReadThread(user)
        div.news-post
            div.header
                p.title= category.getName()
                    a.minimize
                        span.fa.fa-minus
                p.description= category.getDescription()
            div.content
                for forum in category.getSubForums()
                    if forum.getPermissions() == null || forum.getPermissions().canReadThread(user)
                        div.forum
                            div.forum-namedesc
                                if forum.isLink()
                                    a.name.link(href=forum.getLink(), target='_blank')= forum.getName()
                                else
                                    div.name.link(data-link='/forums/forum/'+forum.getId())= forum.getName()
                                p.forum-description.small.grey= forum.getDescription()
                            div.forum-lastpost
                                if forum.getLastPost() != null
                                    div.name.link(data-link='/forums/thread/'+forum.getLastPost().getThreadId())= forum.getLastPost().getThread().getTitle()
                                    div.author-name.small
                                        span  by 
                                        span.author-name-link.link(data-link='/forums/user/'+forum.getLastPost().getAuthor().getId())
                                            +showName(forum.getLastPost().getAuthor(), 14, 15)
                                    div.small.time= forum.getLastPost().getTimeRelative(null)
                        div(style='clear: both;')
