p.forum-stats-name Registered Users:
p.forum-stats-value= registeredUsers
.clear
p.forum-stats-name Users Online:
p.forum-stats-value= onlineUsers
.clear
p.forum-stats-name Most Online:
p.forum-stats-value= mostOnline
.clear
p.forum-stats-name Threads:
p.forum-stats-value= totalThreads
.clear
p.forum-stats-name Posts:
p.forum-stats-value= totalPosts
.clear