include ../utils/forum_name
script.
    $(document).ready(() => {

        $(document).on('click', '.latest-post-title', function() {
            let link = $(this).data('link');
            $.post(link, {}, ret => {
                let data = getJSON(ret);
                if(data == null) return false;
                history.pushState({}, 'ForumSection', link);
                $('#forum-content').html(data.html);
                setBreadCrumbs(data.breadcrumbs, data.links);
                return false;
            });
            return false;
        });

        $(document).on('click', '.latest-post-author', function() {
            let id = $(this).data('id');
            console.log('Go to user page');
            return false;
        });

    });
p.t-center.grey= 'Registered Users: '+registeredUsers
p.t-center.grey= 'Forum Users Online: '+onlineUsers
p.t-center.grey= 'Most Users Online: '+mostOnline
if latestPost != null
    p.t-center
        span.grey Latest Post: 
        //TODO - use hashtag to go to last post
        span.latest-post-title.link.white(data-link='/forums/thread/'+latestPost.getThread().getId())= latestPost.getThread().getTitle()
        span.grey  by 
        span.latest-post-author.link(data-id=latestPost.getAuthor().getId())
            +showName(latestPost.getAuthor(), 14, 15)
        span.grey= ', '+latestPost.getTimeRelative(null)