include ../utils/forum_name
script.
    $(document).ready(() => {

        let editingPost = -1;

        let width = $('#post-list').width();
        if(width == '718') {
            $('#post-list').find('.container').width(width);
            $('#post-list').find('.row').width(width);
        }

        $(document).on('click', '.quote-author', function() {
            let id = $(this).data('id');
            $.post('/forums/user/'+id, {}, ret => {
                let data = getJSON(ret);
                if(data == null) return false;
                $('#forum-content').html(data.html);
                setBreadCrumbs(data.breadcrumbs, data.link);
                history.pushState({}, 'ForumSection', '/forums/user/'+id);
            });
        });

        $(document).on('click', '.quote-thread', function() {
            let threadId = $(this).data('id');
            $.post('/forums/thread/'+threadId, {}, ret => {
                let data = getJSON(ret);
                if(data == null) return false;
                $('#forum-content').html(data.html);
                setBreadCrumbs(data.breadcrumbs, data.links);
                history.pushState({}, 'ForumSection', '/forums/thread/'+threadId);
            });
        });

        $(document).on('click', '.quote-id', function() {
            let threadId = $(this).data('threadid');
            let postId = $(this).data('postid');
            $.post('/forums/thread/'+threadId+'#'+postId, {}, ret => {
                let data = getJSON(ret);
                if(data == null) return false;
                $('#forum-content').html(data.html);
                setBreadCrumbs(data.breadcrumbs, data.links);
                history.pushState({}, 'ForumSection', '/forums/thread/'+threadId+'#'+postId);
            });
        });

        $(document).on('click', '#edit-cancel', function() {
            $.post('/forums/post/'+editingPost, {}, ret => {
                let data = getJSON(ret);
                if(data == null) return false;
                $(this).closest('.post-body').html(data.html);
                editingPost = -1;
            });
        });

        $(document).on('click', '#edit-save', function() {
            let post = $(this).closest('.post-body').find('#edit-post-area').val();
            $.post('/forums/post/'+editingPost+'/submit-edit', { post }, ret => {
                let data = getJSON(ret);
                if(data == null) return false;
                $(this).closest('.post-body').html(data.html);
                editingPost = -1;
            });
        });

        $(document).on('click', '.quote-post', function() {
            let id = $(this).closest('.post-body').data('id');
            insertAtCursor($('#quick-reply-text')[0], '[QUOTE='+id+']');
        });

        function insertAtCursor(myField, myValue) {
            //IE support
            if (document.selection) {
                myField.focus();
                sel = document.selection.createRange();
                sel.text = myValue;
            }
            //MOZILLA and others
            else if (myField.selectionStart || myField.selectionStart == '0') {
                var startPos = myField.selectionStart;
                var endPos = myField.selectionEnd;
                myField.value = myField.value.substring(0, startPos)
                    + myValue
                    + myField.value.substring(endPos, myField.value.length);
            } else {
                myField.value += myValue;
            }
        }

        $(document).on('click', '.edit-post', function() {
            if(editingPost != -1) {
                sendAlert('Already editing a post. Please cancel that one before trying to edit another.');
                return false;
            }
            let id = $(this).data('id');
            $.post('/forums/post/'+id+'/edit', {}, ret => {
                let data = getJSON(ret);
                if(data == null) return false;
                editingPost = id;
                $(this).closest('.post-body').html(data.html);
            });
        });

        $(document).on('click', '.addremove-thanks', function() {
            let span = $(this).find('span');
            let removing = false;
            if(span.hasClass('thanked')) removing = true;
            let postId = $(this).data('post_id');
            console.log(removing);
            $.post('/forums/post/'+postId+'/addremove-thanks', { removing }, ret => {
                let data = getJSON(ret);
                if(data == null) return false;
                if(removing === true) span.removeClass('thanked');
                else span.addClass('thanked');
                $('.thanks-content[data-post_id='+postId+']').html(data.html);
                span.html(' '+(!removing ? 'Remove ' : '')+'Thanks');
            });
        });

    });

for post in posts
    div.post-block
        div.author-block
            p.display-name
                +showName(post.getAuthor(), 15, 16)
            if post.getAuthor().getUserTitle() != null
                p.user-title= post.getAuthor().getUserTitle()
            div.author-avatar
                img(src=post.getAuthor().getAvatarUrl() == null ? '/images/default_avatar.png' : post.getAuthor().getAvatarUrl(), style='width: 75px; height: 75px;')
            div.post-count
                i.fa.fa-clipboard.link
                    span  Post Count: 
                    span= post.getAuthor().getPostCount()
            div.thanks-received
                i.fa.fa-thumbs-up.link
                    span  Thanks Received: 
                    span= post.getAuthor().getThanksReceived()
            div.thanks-given
                i.fa.fa-thumbs-up.link
                    span  Thanks Given: 
                    span= post.getAuthor().getThanksGiven()
            if post.getAuthor().getHSData() != null
                div.ingame-total.link
                    img(src='/images/skills/overall.png')
                    span  In-Game Total: 
                    span= post.getAuthor().getHSData().getTotalLevel()
        div.body-block
            div.date-block
                p.date= formatter.formatTimestamp(post.getAdded(), 'MMMMM dd, YYYY @ hh:mm a')
                p.post-link.vis-link= '#'+post.getId()
            .clear
            div.post-body(data-id=post.getId())
                include post
            .clear
            div.thanks-content(data-post_id=post.getId())
                include thanks_list
        .clear
