include ../utils/forum_name
script.
    $(document).ready(() => {

        let width = $('#post-list').width();
        if(width == '718') {
            $('#post-list').find('.container').width(width);
            $('#post-list').find('.row').width(width);
        }

        $(document).on('click', '.addremove-thanks', function() {
            let span = $(this).find('span');
            let removing = false;
            if(span.hasClass('thanked')) removing = true;
            let postId = $(this).data('post_id');
            console.log(removing);
            $.post('/forums/post/'+postId+'/addremove-thanks', { removing }, ret => {
                let data = getJSON(ret);
                if(data == null) return false;
                if(removing === true) span.removeClass('thanked');
                else span.addClass('thanked');
                $('.thanks-content[data-post_id='+postId+']').html(data.html);
                span.html(' '+(!removing ? 'Remove ' : '')+'Thanks');
            });
        });

    });

for post in posts
    div.post-block
        div.author-block
            p.display-name
                +showName(post.getAuthor(), 15, 16)
            if post.getAuthor().getUserTitle() != null
                p.user-title= post.getAuthor().getUserTitle()
            div.author-avatar
                img(src=post.getAuthor().getAvatarUrl() == null ? '/images/default_avatar.png' : post.getAuthor().getAvatarUrl(), style='width: 75px; height: 75px;')
            div.thanks-received
                i.fa.fa-thumbs-up.link
                    span  Thanks Received: 
                    span= post.getAuthor().getThanksReceived()
            div.thanks-given
                i.fa.fa-thumbs-up.link
                    span  Thanks Given: 
                    span= post.getAuthor().getThanksGiven()
            if post.getAuthor().getHSData() != null
                div.ingame-total
                    img(src='/images/skills/overall.png')
                    span  In-Game Total: 
                    span= post.getAuthor().getHSData().getTotalLevel()
        div.body-block
            div.date-block
                p.date= formatter.formatTimestamp(post.getAdded(), 'MMMMM dd, YYYY @ hh:mm a')
                p.post-link.vis-link= '#'+post.getId()
            .clear
            div.post= post.getPost()
            div.edit-options
                if post.hasBeenEdited()
                    p= 'Last Edited: '+post.getTimeRelative(post.getEdited())
                if loggedIn && post.getAuthor().getId() == user.getId()
                    p.vis-link Edit
                if loggedIn
                    p.vis-link Quote
                if loggedIn// && post.getAuthor().getId() != user.getId()
                    i.fa.fa-thumbs-up.link.addremove-thanks(data-post_id=post.getId())
                        if loggedIn && post.hasBeenThankedBy(user.getId())
                            span.vis-link.thanked  Remove Thanks
                        else
                            span.vis-link  Thanks
            .clear
            div.thanks-content(data-post_id=post.getId())
                include thanks_list
        .clear
