script.
    $(document).ready(() => {

        let width = $('#post-list').width();
        if(width == '718') {
            $('#post-list').find('.container').width(width);
            $('#post-list').find('.row').width(width);
        }

    });

for post in posts
    div.post-block
        div.author-block
            p.display-name=post.getAuthor().getDisplayName()
            div.author-avatar
                img(src=post.getAuthor().getAvatarUrl() == null ? '/images/default_avatar.png' : post.getAuthor().getAvatarUrl(), style='width: 75px; height: 75px;')
        div.body-block
            div.date-block
                p.date= formatter.formatTimestamp(post.getAdded(), 'MMMMM dd, YYYY @ hh:mm a')
                p.post-link.vis-link= '#'+post.getId()
            div.post
                p(style='margin-left: 0px;')= post.getPost()
        .clear
