include ../utils/forum_name
script.
    $(document).ready(() => {

        $(document).delegate('#quick-reply-text', 'keydown', function(e) {
            var keyCode = e.keyCode || e.which;

            if (keyCode == 9) {
                e.preventDefault();
                var start = this.selectionStart;
                var end = this.selectionEnd;

                // set textarea value to: text before caret + tab + text after caret
                $(this).val($(this).val().substring(0, start)
                            + "\t"
                            + $(this).val().substring(end));

                // put caret at right position again
                this.selectionStart =
                this.selectionEnd = start + 1;
            }
        });

        let page = "!{page}";
        let threadId = "!{thread.getId()}";
        if(!page) page = 1;
        let canClose = true;
        let rThreadNoty;

        function loadPage(page) {
            let regex = /page\/\d/;
            let found = location.pathname.match(regex);
            let endpoint;
            let curPage = page;
            if(found) {
                curPage = found[0];
                endpoint = location.pathname.replace('/page/'+curPage, '/page/'+page);
            } else endpoint = location.pathname+'/page/'+page
            $.post(endpoint, ret => {
                let data = getJSON(ret);
                if(data == null) return false;
                $('#post-list').html(data.html);
            });
        }

        function changePage(nPage) {
            page = nPage;
            loadPage(page);
            let regex = /page\/\d/;
            let found = location.pathname.match(regex);
            let endpoint;
            let curPage = page;
            if(found) {
                curPage = found[0];
                endpoint = location.pathname.replace('/page/'+curPage, '/page/'+page);
            } else endpoint = location.pathname+'/page/'+page
            history.pushState({}, "ForumSection", endpoint);
        }

        $('#submit-post-btn').click(function() {
            let body = $('#quick-reply-text').val();
            if(!body || body == '' || body.replace(/\s/, '') == '') {
                sendAlert('Post is empty!');
                return false;
            }
            $.post('/forums/thread/'+threadId+'/submit-new-post', { page, body }, ret => {
                let data = getJSON(ret);
                if(data == null) return false;
                sendAlert('Post successfully submitted. Reloading posts.');
                $('#quick-reply-text').val('');
                $('#post-list').html(data.html);
            });
        });

        $(document).on('click', '#admin-options>span', function() {
            $(this).removeClass('fa-rotate-90');
            let position = $(this).position();
            buildOptionsMenu(position.left, position.top);
        });

        $('#pin-thread').click(function() {
            let value = !("!{thread.isPinned()}" == 'true');
            $.post('/forums/thread/'+threadId+'/pin', { value, page }, ret => {
                let data = getJSON(ret);
                if(data == null) return false;
                sendAlert('Thread has been successfully '+(!value ? 'un' : '')+'pinned. Page will reload in 5 seconds.');
                setTimeout(() => {
                    $('#forum-content').html(data.html);
                    sendAlert('Reloaded!');
                }, 5000);
            });
        });

        $('#close-thread').click(function() {
            let value = !("!{thread.isOpen()}" == 'true');
            $.post('/forums/thread/'+threadId+'/close', { value, page }, ret => {
                let data = getJSON(ret);
                if(data == null) return false;
                sendAlert('Thread has been successfully '+(!value ? '' : 'un')+'locked. Page will reload in 5 seconds.');
                setTimeout(() => {
                    $('#forum-content').html(data.html);
                    sendAlert('Reloaded!');
                }, 5000);
            });
        });

        $('#remove-thread').click(function() {
            canClose = false;
            setTimeout(() => {
                canClose = true;
            }, 500);
            rThreadNoty = noty({
                text: 'Are you sure you wish to remove this thread?',
                type: 'confirm',
                layout: 'center',
                dismissQueue: true,
                theme: 'cryogen',
                buttons: [
                    {
                        addClass: 'btn btn-success', text: 'Remove', onClick: function($noty) {
                            closeNoty($noty);
                            rThreadNoty = null;
                            $.post('/forums/thread/'+threadId+'/remove', { }, ret => {
                                let data = getJSON(ret);
                                if(data == null) return false;
                                sendAlert('Thread has been successfully deleted. Redirecting you to the parent forum in 5 seconds.');
                                setTimeout(() => {
                                    $('#forum-content').html(data.html);
                                    setBreadCrumbs(data.breadcrumbs, data.links);
                                    history.pushState({}, "ForumSection", '/forums/forum/'+data.id);
                                }, 5000);
                            });
                        }
                    },
                    {
                        addClass: 'btn btn-danger', text: 'Cancel', onClick: function($noty) {
                            closeNoty($noty);
                            rThreadNoty = null;
                        }
                    }
                ]
            })
        });

        function buildOptionsMenu(x, y) {
            let menu = $('#thread-admin-options');
            if(!menu) return;
            menu.css({
                'position': 'absolute',
                'left': (x-138)+'px',
                'top': (y+15)+'px',
                'display': ''
            });
            canClose = false;
            setTimeout(() => {
                canClose = true;
            }, 500);
        }

        function closeOptionsMenu() {
            let menu = $('#thread-admin-options');
            if(!menu || menu.css('display') == 'none') return;
            menu.css('display', 'none');
            $('#admin-options>span').addClass('fa-rotate-90');
        }

        $(document).click(function(e) {
            var target = e.target;
            let menu = $('#thread-admin-options');
            if(!menu || menu.css('display') == 'none' || !canClose) return;
            if($(e.target).closest('#thread-admin-options').length) {

            } else {
                closeOptionsMenu();
            }
            if(rThreadNoty == null) return;
            let id = rThreadNoty.options.id;
            if($(e.target).closest('#'+id).length) {

            } else {
                rThreadNoty.close();
                rThreadNoty = null;
            }
        });

    });
div.news-post
    div.header
        p.single-title= thread.getTitle()
        if loggedIn && user.getRights() > 0
            p#admin-options Thread Options 
                span.fa.fa-chevron-down.fa-rotate-90.link
        div.clear
    div.content
        div#post-list
            include post_list
if thread.getViewers().size() > 0
    div#thread-viewers
        span.white Accounts viewing thread: 
        for i in jIterator.iterate(thread.getViewers().size())
            if i != 0
                span.white , 
            span.white
                +showName(thread.getViewers().get(i), 14, 15)
if loggedIn && thread.getSubForum().getPermissions().canReply(thread, user)
    div.news-post#quick-reply
        div.header(style='height: 50px;')
            p.title Quick Reply
                a.minimize
                    span.fa.fa-minus
            p.description Add a reply to this thread. Check here for BBCode examples.
        div.content
            textarea#quick-reply-text(type='text')
            button.btn.btn-default#submit-post-btn Submit Post
div#thread-admin-options(style='display: none;')
    div.thread-admin-option.link#pin-thread
        span.fa.fa-thumb-tack.option-icon
        span.option-title= thread.isPinned() ? ' Unpin Thread' : ' Pin Thread'
    div.thread-admin-option.link#close-thread
        if thread.isOpen()
            span.fa.fa-lock.option-icon
        else
            span.fa.fa-unlock.option-icon
        span.option-title= thread.isOpen() ? ' Lock Thread' : ' Unlock Thread'
    div.thread-admin-option.link#remove-thread
        span.fa.fa-times.option-icon
        span.option-title  Remove Thread
        
