table.table.hs-table.table-condensed.table-responsive.preports-table.widget(style='font-size: 12px;')
  thead
    tr
      th.t-center Title
      th.t-center Username
      th.t-center Reporting
      th.t-center Date
      th.t-center Action
      th.t-center View
      th.t-center Pin
  tbody
    for report in preports
      tr(data-id=report.getId())
        td.b-right= report.getTitle()
        td.b-right= '$for-name='+report.getUsername()+'$end'
        td.b-right= '$for-name='+report.getOffender()+'$end'
        td.b-right= formatter.formatTimestamp(report.getTime(), 'MMM dd, YYYY H:mm a')
        td.b-right.dropdown.link(style='max-width: 160px!important;')
          span.dropdown-toggle(data-toggle='dropdown') Click for Actions
            b.caret
          ul.dropdown-menu#acmenu
            li
              div.t-center.link#archive(style='font-size: 12px;')
                i.fa.fa-archive
                |  |
                span  Archive Report
        td.b-right.link#view View
        td.link
          -var read = report.userHasRead(user.getUsername())
          -var titl = read ? 'Pin this report to view it on the overview page at all times' : 'This report currently appears on the overview page. Unpin to hide it.';
          div#pin(title=titl)
            i.ionicons.ion-pin(style='font-size: 10px; transform: rotate(35deg);')
            if read
              span  Pin
            else
              span  Unpin
