include ../script
include ../stylesheet

+includeStylesheet('utils/list')
+includeStylesheet('utils/buttons')
+includeStylesheet('utils/input')
+includeScript(module.replaceFirst('/', ''))

script.
    (async function() {
        import('/js/utils/list.js').then((mod) => {
            let c = new mod.ListManager('!{module}', '!{moduleId}');
            c.setup();
            $(document).ready(() => c.onLoad());
        }).catch(console.error);
    })();

h3= title
for line in info
    p.small.info= line
.iactions
    if archivable
        .link.archive-btn(id=moduleId+'-archive')
            i.fa.fa-archive
            span  View Archive
    if creatable
        .link.create-btn(id=moduleId+'-new')
            i.fa.fa-plus
            span  New
    if refreshable
        .link.refresh(id=moduleId+'-refresh')
            i.fa.fa-refresh
            span  Refresh
    if customActions != null
        for action in customActions
            div(class=action.getClassName()+' '+(action.isLink() ? 'link' : ''))
                i(class='fa '+action.getIcon())
                span= ' '+action.getTitle()
    if sortable
        .link.sort
            i.fa.fa-sort
            span  Sort
    if filterable
        .link.filter
            i.fa.fa-filter
            span  Filter
            span.active-filter(id=moduleId+'-active-filter')
                span.col-red  - Filters active!
.list-table(id=moduleId+'-table')
.pages(id=moduleId+'-pages')
    span Pages: 
    span.page-container
.clear
.sorted(id=moduleId+'-sort')
.filtered(id=moduleId+'-filter')