mixin showBlock(forum)
    div.forum
        div.forum-namedesc
            if forum.isLink()
                a.name.link(href=forum.getLink(), target='_blank')= forum.getName()
            else
                div.name.link(data-link='/forums/forum/'+forum.getId())= forum.getName()
            p.forum-description.small.grey= forum.getDescription()
            p.forum-subforum-desc.small Subforums: 
            if forum.getSubForums().size() > 0
                for i in [1,2,3,4]
                    if forum.getSubForum(i) != null
                        p.forum-subforum.small.link.white.forum-link(data-type='forum', data-id=forum.getSubForum(i).getId())= forum.getSubForum(i).getName()
        div.forum-lastpost
            if forum.getLastPost() != null
                div.name.link(data-link='/forums/thread/'+forum.getLastPost().getThreadId())= forum.getLastPost().getThread().getTitle()
                div.author-name.small
                    span  by 
                    span.author-name-link.link(data-link='/forums/user/'+forum.getLastPost().getAuthor().getId())
                        +showName(forum.getLastPost().getAuthor(), 14, 15)
                div.small.time= forum.getLastPost().getTimeRelative(null)
        div.view-info
            p.small.threads= 'Threads: '+forum.getTotalThreads()
            p.small.posts= 'Posts: '+forum.getTotalPosts()