script.
    $(document).ready(() => {

        $(document).on('click', '.notification-block', handleClick);

        $(document).on('mouseover', '.notification-block', function() {
            let removeEl = $($(this).find('.remove-notification'));
            if(removeEl == undefined) return false;
            removeEl.css('display', '');
        });

        $(document).on('mouseleave', '.notification-block', function() {
            let removeEl = $($(this).find('.remove-notification'));
            if(removeEl == undefined) return false;
            removeEl.css('display', 'none');
        });

        function handleClick() {
            let link = $(this).data('link');
            if(!link) return;
        }

    });
-var i = 0;
for notification in notificationsL
    div.notification-block(data-id=notification.getId(), data-link=notification.getLink())
        i.fa.fa-times.remove-notification(style='top: '+(3+(i*55))+'px; display: none;')
        if notification.getFaIcon() != null && notification.getFaIcon() != ''
            div.notification-icon-container
                i(class='notification-icon '+notification.getFaIcon())
        else if notification.getIcon() != null && notification.getIcon() != ''
            div.notification-icon-container
                img.notification-icon(src=notification.getIcon())
        div.notification-content-container
            div.notification-title= notification.getTitle()
            div.notification-content=notification.getContent()
        .clear
    -i = i+1;